ws/src/main/resources/planning.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://agh.edu.pl/ztis/planner/ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:gexf="http://www.gexf.net/1.2draft"
                  name="GraphPlanningService"
                  targetNamespace="http://agh.edu.pl/ztis/planner/ws">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://agh.edu.pl/ztis/planner/ws"
                   elementFormDefault="unqualified" targetNamespace="http://agh.edu.pl/ztis/planner/ws" version="1.0">
            <xs:import namespace="http://www.gexf.net/1.2draft" schemaLocation="xsd/gexf.xsd"/>
            <xs:element name="planning-task" type="tns:planning-task"/>
            <xs:element name="planning-task-response" type="tns:planning-task-response"/>
            <xs:simpleType name="planning-algorithm">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="AStar"/>
                    <xs:enumeration value="BellmanFord"/>
                    <xs:enumeration value="BFS"/>
                    <xs:enumeration value="DFS"/>
                    <xs:enumeration value="Dijkstra"/>
                    <xs:enumeration value="FloydWarshall"/>
                    <xs:enumeration value="GreedyBestFirst"/>
                    <xs:enumeration value="Kruskal"/>
                    <xs:enumeration value="Prim"/>
                    <xs:enumeration value="UniformCost"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="planning-task">
                <xs:sequence>
                    <xs:element minOccurs="0" name="graph" type="gexf:gexf-content"/>
                    <xs:element minOccurs="0" name="algorithm" type="tns:planning-algorithm"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="planning-task-response">
                <xs:sequence>
                    <xs:element minOccurs="0" name="status" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="planning-task">
        <wsdl:part element="tns:planning-task" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="planning-task-response">
        <wsdl:part element="tns:planning-task-response" name="parameters"/>
    </wsdl:message>

    <wsdl:portType name="GraphPlanningPortType">
        <wsdl:operation name="schedule-planning">
            <wsdl:input message="tns:planning-task" name="planning-task"/>
            <wsdl:output message="tns:planning-task-response" name="planning-task-response"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="GraphPlanningPortTypeSoapBinding" type="tns:GraphPlanningPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="schedule-planning">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="planning-task">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="planning-task-response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="GraphPlanningPortTypeService">
        <wsdl:port binding="tns:GraphPlanningPortTypeSoapBinding" name="GraphPlanningServicePort">
            <soap:address location="http://localhost:9000/planning" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>